*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: white;
    }
    .basic-setup{
        height: 1200px;
        width: 100%;
        background-color:#f4f4f4;
        color: white;
    }
    .fixed{
        height: 70px;
        width: 100%;
        background-color: darkblue;
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        top: 0;
        left: 0;
    }
    button{
        background-color: darkblue;
        font-size: 25px;
          border: none;
    }
    .sticky{
        height: 50px;
        width: 100%;
        background-color: red;
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 90;
        top: 70px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box{
    position: absolute;
    top: 130px;
    left: 20px;
    gap: 10px;
}
.button1{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: orangered;
    border: none;
}
.cart1{
    height: 450px;
    width: 450px;
}
.button2{
    position: absolute;
    background-color: transparent;
    font-size: 30px;
    font-weight: 600;
    right: 100px;
    top: 370px;
}
.cart2{
    height: 450px;
    width: 450px;
    position: absolute;
    left: 500px;
}
.button3{
background-color: transparent;
position: absolute;
left: 500px;
top: 280px;
font-size: 28px;
font-weight: 600;
}
.cart3{
    height: 450px;
    width: 450px;
    position: absolute;
    left: 1000px;
    z-index: 1;
}
.button4{
    background-color: transparent;
    position: absolute;
    font-size: 28px;
    font-weight: 600;
    top: 370px;
    left: 1000px;
    z-index: 2;
}
.button5{
    background-color:goldenrod;
    border: none;
    position: relative;
    top: 560px;
    left: 20px;
    padding: 5px;
    font-size: 28px;
    font-weight: 600;
}
.cart4{
    width: 100%;
    height: 700px;
    position: relative;
    top: 570px;
    left: 20px;
    z-index: 3;
}
.button6{
    position: sticky;
    background-color: lightslategrey;
    left: 90%;
    padding: 10px;
    bottom: 5%;
    z-index: 4;
   font-size: 30px;
   font-weight: 600;
}